@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --body-color: #fafafa;
  --nav-bg: #f5f6ff;
  --course-color: #ff3a29;
  --course-col2: #02a0fc;
  --course-col3: #ffe5d3;
  --course-col4: #ffb200;
  --course-col5: #00ff2ace;
  --nav-color: rgb(28, 28, 252);
  --title-color: #000000;
  --input-filed: #ffffff;
  --text-color: #94959a;
  --text-color2: #333333;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --all-font: "Montserrat", sans-serif;
  --max-width: 1170px;
  --fixed-width: 620px;

  /* ====== calender ====== */

  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --light-btn2: #8888ba;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;

  /* font weight */
  --font-th: 100;
  --font-el: 200;
  --font-lh: 300;
  --font-rg: 400;
  --font-md: 500;
  --font-sb: 600;
  --font-bold: 700;
  --font-eb: 800;
  --font-blk: 900;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

*:focus {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--all-font);
  font-size: 0.88rem;
  background: var(--body-color);
  user-select: none;
  overflow-x: hidden;
  color: var(--text-color);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto 0 0;
  gap: 1rem;
  grid-template-columns: 13rem auto 23rem;
}

* {
  color: var(--text-color2);
}

img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile_photo,
.link_photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.link_photo {
  width: 1rem;
  height: 1rem;
}

/* ========== ASIDE ========= */
aside {
  height: auto;
  background: var(--input-filed);
  padding: 6px;
  width: 170%;
}

aside .top {
  display: flex;
  align-items: center;
  margin: 3rem 4px 0 0.9rem;
}
aside .logo {
  position: relative;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

aside .logo img {
  width: 2.7rem;
  height: 2.7rem;
}

.bars {
  margin: 3rem 40px 3.5rem 1.9rem;
  display: flex;
}

aside .close {
  position: absolute;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  width: 1.49rem;
  height: 1.5rem;
  cursor: pointer;
}
aside .menu_bar {
  display: none;
}

aside .close .bi-x:hover,
.close:hover,
.bx-menu:hover {
  color: var(--nav-color);
  border-color: var(--nav-color);
}

/* ====================== SIDEBAR ==================== */
aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
}

aside h3 {
  font-weight: 500;
  text-transform: capitalize;
}

aside .sidebar a {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  align-items: center;
  position: relative;
  height: 3rem;
  margin: 0.9rem 40px 0 1.6rem;
  margin: 0.9rem 25px 0 1.6rem;
  transition: all 600ms ease;
}

aside .sidebar a.active {
  background: var(--nav-bg);
  color: var(--nav-color);
  margin: 0.9rem 25px 0 1.6rem;
}
.uil-estate {
  color: var(--nav-color);
}

aside .sidebar a.active,
i {
  font-size: 1.25rem;
  transition: all 600ms ease;
}

aside .sidebar a:hover i {
  color: var(--nav-color);
}

aside .sidebar a:hover {
  color: var(--nav-color);
  background: var(--nav-bg);
}

/* ====== countdown ======= */
.countdown {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg);
  margin: 4rem 25px 15px 1.6rem;
  padding: 0.5rem 2rem 2rem;
  width: auto;
  border-radius: 0.5rem;
}

.count_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.count_text p {
  font-weight: var(--font-md);
}

.uil-exclamation-triangle {
  color: var(--nav-color);
}

.count_input {
  display: flex;
  flex-direction: column;
}

.mwd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.mwd h4 {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  font-weight: var(--font-md);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  margin: 0;
}

.text {
  font-weight: var(--font-bold);
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.semiColoumn {
  font-weight: var(--font-sb);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.timer__btn--reset {
  font-size: 1rem;
  margin: -2rem 0 0 0;
  cursor: pointer;
}
.bi-play-fill {
  margin: -1.4rem 0 0 2rem;
  cursor: pointer;
}
.timer__btn--reset:hover,
.bi-play-fill:hover {
  color: var(--nav-color);
}

.bi-pause-fill {
  margin: -1.4rem 0px 0px 2rem;
  cursor: pointer;
  color: var(--course-color);
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 25px 3rem 1.6rem;
  gap: 0.5rem;
}

.link_photo {
  margin: 0 24px 2rem 3.6rem;
  position: relative;
  left: 1.6rem;
  width: 1.4rem;
  height: 1.4rem;
}

/* modal */

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  /* visibility: hidden; */
  z-index: 100;
  /* transition: 1s ease-out; */
  /* transform: translate(0%, -50%)scale(0.1); */
  /* transition: 1.5s cubic-bezier(.47, -0.79, 0, 1.87); */
}

.modal__container {
  background: #fff;
  border-radius: 0.7rem;
  width: 50%;
  /* height: 60%; */
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding: 70px 44px;
  position: relative;
  opacity: 1;
  margin: 0 auto;
}

.customDT {
  margin: 0 14rem;
}

.modal__container h1 {
  margin-right: 3rem;
}
.modal__container h1 span {
  font-weight: 600;
  color: var(--text-color);
}

.inp_fill {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* place-items: left; */
}
input {
  /* background-color: var( --light-second); */
  margin-bottom: 1rem;
  border-bottom: 1px solid;
  border-color: var(--light-second);
  padding: 2rem 0.3rem 0;
  width: 100%;
}

input:focus {
  border-color: var(--light-btn);
}
.submit_btn {
  border-radius: 5px;
  background-color: var(--input-filed);
  border: none;
  color: var(--input-text);
  transition: 0.5s;
  text-transform: capitalize;
  width: auto;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 50px auto 40px;
  box-shadow: var(--shadow);
  position: relative;
  top: 7rem;
  right: 13.5rem;
}

.submit-btn:hover {
  background-color: var(--nav-bg);
  color: var(--input-text);
}

.dateTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-left: 5rem;
}

.current_dateTime {
  text-align: left;
  border-left: var(--light-btn) 5px solid;
  margin: -2rem 0 0 0;
  border-radius: 5px;
  padding-left: 0.2rem;
  line-height: 1.3rem;
  position: absolute;
  top: 10.3rem;
  left: 9rem;
}

@media screen and (max-width: 680px) {
  .customDT {
    margin: 0 auto;
  }

  .current_dateTime {
    margin: -3.3rem 0 0 0;
    left: 7.8rem;
  }

  .modal__container {
    /* background: burlywood; */
    width: 90%;
    padding: 40px 20px;
  }
  .dateTime {
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .modal__container {
    /* background: burlywood; */
    width: 90%;
    padding: 40px 20px;
  }

  .dateTime {
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .inp_fill {
    margin-top: 1rem;
  }

  .submit_btn {
    margin: 10px auto 0;
  }
}

@media screen and (max-width: 358px) {
  .modal__container {
    /* background: burlywood; */
    width: 95%;
    padding: 40px 10px;
    font-size: 0.7rem;
  }

  .modal__container h1 {
    font-size: 1.2rem;
  }
}
